.options {

}

.lavyLink{ text-align: center;
    width: 50%;
    height: 10%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid black;
}
.pravyLink{ text-align: center;
    height: 10%;
    width: 49%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block}

#aa  {

    color: #f00;
    padding: 14px;

    text-decoration: none;
}

#bb  {
    color: sandybrown;
    padding: 14px;

    /*border-right: 1px solid black; */
    text-decoration: none;
}
.options {
    position: relative;
    overflow: hidden;
    background-color: #333;
    border-top: 2px solid powderblue;
    border-bottom: 2px solid orange;
}

.Meno {
    padding-top: 20px;
    text-align: center;
    font-size: large;
    height: 3rem;
    background-color: sandybrown;
}





/* Style the top navigation bar */


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.empty {
    height: 150px;
}

.search-container {
    text-align: center;
}
.MenuPonuk {
    padding-top: 20px;
    text-align: center;
    font-size: large;
    height: 3rem;
    background-color: sandybrown;
}